.classpath
!/.project
.project
.settings
target
build
test-output/
bin/
*.ipr
*.iml
*.iws
.idea/
.DS_Store
.idea
overlays/
pom.xml.versionsBackup
*.log

**/.checkstyle
**/*.orig
.gradle/
**/build/
**/MANIFEST.MF
.gradle
classes/
